<dx-data-grid id="gridContainer"
    [dataSource]="dataSource"
    [columnAutoWidth]="true"
    [showBorders]="true"
    rowTemplate="rowTemplateName"
    [remoteOperations]="true">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>
 
    <dxi-column dataField="id" [width]="70" caption="Title"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="reference"></dxi-column>
    <dxi-column dataField="nom"></dxi-column>
    <dxi-column dataField="quantite"  ></dxi-column>
    <dxi-column dataField="Action"  ></dxi-column>
 

    <tbody  *dxTemplate="let produit of 'rowTemplateName'" >
        <tr class="main-row">
 
            <td>{{produit.data.id}}</td>
            <td>{{produit.data.description}}</td>
            <td>{{produit.data.reference}}</td>
            <td>{{produit.data.nom}}</td>
            <td>{{produit.data.quantite}}</td>
       <td>    <button (click)="modifier(produit)">Click me!</button>
         </td>
        </tr>
      
    </tbody>
</dx-data-grid>

<!-- <dx-data-grid
    [dataSource]="dataSource"  
    [remoteOperations]="true"
    height="600"
    showBorders="true"
    >
​
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
 

    <dxo-editing 
    mode="popup"
    [refreshMode]="refreshMode"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
    <dxo-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="700"
        [height]="525"
        [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
    <dxo-form>
        <dxi-item dataField="id"></dxi-item>
        <dxi-item dataField="description"></dxi-item>
        <dxi-item dataField="reference"></dxi-item>
        <dxi-item dataField="nom"></dxi-item>
        <dxi-item dataField="quantite"></dxi-item>
        
        
    </dxo-form>
</dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
​
<dxi-column dataField="id"></dxi-column>
<dxi-column dataField="description"></dxi-column>
<dxi-column dataField="reference" caption="Title" [width]="70"></dxi-column>
<dxi-column dataField="nom"></dxi-column>
<dxi-column dataField="quantite"></dxi-column>
​
 
</dx-data-grid>
​ -->
<ng-template  #content  let-modal  >
   <app-edit-produit></app-edit-produit>
</ng-template >
<button (click)="modifier(content)">Click me!</button>